* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ebeff8;
}

h1 {
    color: #3a4db7;
}

h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
    margin: 10px 0;
}

.header {
    height: 160px;
    padding: 20px;
    background-image: url('/img/veiculos.jpg');
    background-size: cover; /* faz a imagem cobrir toda a área da div */
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.header h1 {
    color: #fff;
    margin-top: 0;
    padding-top: 30px;
    text-shadow: #000000 2px 3px 2px;
    text-align: center;
}

.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -100px;
}

.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p{
    color: #3a4db7;
    border-bottom: 2px solid #3a4db7;
    width: 110px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
    font-style: italic;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input p {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #3a4db7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #d8d5d5;
    border: #3a4db7;
    color: #3a4db7;
}

.btn-clear {
    background-color: #d80835;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn-clear:hover {
    background-color: #fff;
    color: #d80835;
    border: 1px solid #d80835;
}